/*
 * COLORS:
 * primary: #6F2EE8
 * secondary: #000000
 * tertiary: #FFFFFF
 * white: #F2F3F7
 */

/* RESETS */
body {
  font-family: "Ubuntu", serif;
}

h1 {
  font-family: 'Calligraffitti', cursive;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #6F2EE8;
  transition: .15s;
}

img {
  vertical-align: middle;
}

/* SEMANTIC DEFAULTS */
main {
  margin-top: 50px;
}

header {
  transition: all .25s;
}

/* SPECIFIC STYLES */
.headerContent {
  height: 100vh;
  left: -100%;
  position: absolute;
  transition: all .5s;
  width: 100%;
}

.headerContent-show {
  box-shadow: 15px 0px 50px black;
  left: 0 !important;
}

#hamburger {
  font-size: 48px;
  position: absolute;
  right: 0;
}

.bigCap {
  font-size: 4rem;
}

.ph-caret-down-bold {
  font-size: 80px
}

.gallery-image {
  width: 375px;
}

/* HELPERS + TACHYONS OVERWRITES */
.bgc-white { background-color: #F2F3F7; }
.bgc-primary { background-color: #1B415F; }
.bgc-secondary { background-color: #000000; }
.bgc-tertiary { background-color: #FFFFFF }
.color-primary { color: #6F2EE8; }
.color-secondary { color: #000000; }
.color-tertiary { color: #FFFFFF; }
.color-white { color: #F2F3F7; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 .5rem;
}

.fg1 {
  flex-grow: 1;
}

.hidden {
  visibility: hidden;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 30rem) {
  .bigCap {
    font-size: 6rem;
  }

  .headerContent {
    left: -480px;
    width: 480px;
  }
}

@media only screen and (min-width: 60rem) {
  main {
    margin-top: 100px;
  }

  .mw75-l {
    max-width: 75%;
  }

  #signUpForm {
    width: 500px;
  }

  .headerContent {
    height: 100px;
    left: 0;
    position: relative;
    width: 100%;
  }

  #hamburger {
    display: none;
  }
}